<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TFS Pre-register Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>TFS Register Entry</h1>
<h2>Detailed User Information</h2>

<form method="post" action="preregister">
<p>
	<label for="companyName">company Name:</label>
	<input type="text" th:field="${company.companyName}" value="companyName" />
	<br/>
	<label for="companyNameLocal">company Name Local:</label>
	<input type="text" th:field="${company.companyNameLocal}" value="companyNameLocal" />
	<br/>
	<label for="companyAddress">company Address:</label>
	<input type="text" th:field="${company.companyAddress}" value="companyAddress" />
	<br/>
	<label for="Email">Email:</label>
	<input type="text" th:field="${company.txtEmail}" value="Email" />
	<br/>
	<label for="telephone">telephone:</label>
	<input type="text" th:field="${company.telephone}" value="telephone" />
	<br/>
	<label for="contactPerson">contactPerson:</label>
	<input type="text" th:field="${company.contactPerson}" value="contactPerson" />
	<br/>
	
</p>
</form>
</body>
</html>